*
!arch/
!arch/riscv/
!include/
!include/asm/
!include/compiler/
!include/kernel/
!drivers/
!syscall/
!kernel/
!block/
!init/
!test/
!docs/
!scripts/
!fs/
!fs/ext2/
!fs/vfs/
!lib/
!mm/
!user/
!user/bin/
!user/init/
!user/libc/
!user/libc/minimal/
!user/libc/minimal/include/
!user/libc/minimal/src/



!**/*.mk
!**/*.h
!arch/**/*.c
!arch/**/*.S
!block/**/*.c
!docs/**/*
!drivers/**/*.c
!fs/**/*.c
!include/**/*.h
!init/**/*.c
!kernel/**/*.c
!lib/**/*.c
!mm/**/*.c
!test/**/*.c
!test/**/*.h
!test/**/*.S
!drivers/*.c
!syscall/*.c
!user/**/*.c
!user/**/*.h
!user/Makefile
!user/start.S
!user/user.ld
!.clang-format
!.editorconfig
!.gitignore
!Makefile
!mkimg.sh
!kernel.ld
