*
!arch/
!arch/riscv/
!arch/riscv/include/
!arch/riscv/include/arch/
!arch/riscv/include/asm/
!include/
!include/compiler/
!include/uapi/
!include/kernel/
!drivers/
!syscall/
!kernel/
!sched/
!block/
!init/
!test/
!docs/
!scripts/
!fs/
!fs/ext2/
!fs/vfs/
!lib/
!mm/
!configs/
!tools/
!tools/kconfig/
!tools/kconfig/lxdialog/
!user/
!user/bin/
!user/init/
!user/libc/
!user/libc/minimal/
!user/libc/minimal/include/
!user/libc/minimal/src/



!**/*.mk
!scripts/*.sh
!Kconfig
!**/Kconfig
!**/*.h
!arch/**/*.c
!arch/**/*.S
!block/**/*.c
!docs/**/*
!drivers/**/*.c
!fs/**/*.c
!include/**/*.h
!init/**/*.c
!kernel/**/*.c
!lib/**/*.c
!lib/**/*.S
!mm/**/*.c
!configs/**/*
!tools/kconfig/.gitignore
!tools/kconfig/Makefile
!tools/kconfig/*.c
!tools/kconfig/*.h
!tools/kconfig/*.l
!tools/kconfig/*.y
!tools/kconfig/lxdialog/*.c
!tools/kconfig/lxdialog/*.h
!test/**/*.c
!test/**/*.h
!test/**/*.S
!drivers/*.c
!syscall/*.c
!sched/*.c
!sched/*.h
!user/**/*.c
!user/**/*.h
!user/Makefile
!user/start.S
!user/user.ld
!.clang-format
!.clangd
!.editorconfig
!.gdbinit.tmpl-riscv
!.gitignore
!Makefile
!README.md
!mkimg.sh
!kernel.ld
tools/kconfig/build/
tools/kconfig/build/**/*
