CONFIG_ARCH_RISCV=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_DRAM_SIZE_MB=256
CONFIG_QEMU_CPUS=1
CONFIG_EXT2_FS=y
CONFIG_ROOTFS_EXT2=y
CONFIG_ROOTFS_IMAGE_SIZE_MB=16
CONFIG_CC_OPTIMIZE_O0=y
CONFIG_DEBUG_INFO=y
CONFIG_FRAME_POINTER=y
CONFIG_KERNEL_TEST=y
CONFIG_KSYMS=y
# CONFIG_SYSCALL_TRACE is not set
# CONFIG_LTO is not set
# CONFIG_UBSAN is not set
