CONFIG_ARCH_RISCV=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_DRAM_SIZE_MB=256
CONFIG_QEMU_CPUS=1
CONFIG_EXT2_FS=y
CONFIG_ROOTFS_IMAGE_SIZE_MB=16
CONFIG_CC_OPTIMIZE_Og=y
CONFIG_DEBUG_INFO=y
CONFIG_FRAME_POINTER=y
CONFIG_KSYMS=y
CONFIG_UBSAN=y
# CONFIG_LTO is not set
